
*{
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

html{
    font-size: 62.5%;
    }

body{
    margin: 0; 
    font-family: 'Noto Sans', sans-serif; 
    background-color: seashell;
    }

figure{margin: 0; padding: 0;}

nav{
    width: 100vw;  
    height: 18vh;
    background-color: #333;
  overflow: auto;  
   position: fixed;
   top: 0;
   z-index: 1;  
    }

nav figure img{
    float: left; 
    width: 15%; 
    margin: 0; 
    padding: 2rem;
    }


nav ul {
    float: left;
    margin-top: 6vh;
    margin-left: 2.5vw;
    }


nav ul li{ 
    display: inline;
    font-size: 2rem;
    font-family: 'Noto Sans', sans-serif; 
    }

nav ul li a:link    {
    text-decoration: none;
    text-transform: uppercase;
    color: seashell;
    padding: 20px;
    
    }

nav ul li a:hover    {
    padding: 2rem;
    background-color: #9bbfab;    
    }


nav ul li a:visited {
    color: seashell;
  }    

  /* Video */
 #myVideoSection{
    width: 100vw;  
    height: 100vh; 
    }

  #myVideo {  
    width: 100%;
    height: 100%;
}


h1  { 
    color:#9bbfab; 
    background-color: #333;    ; 
    font-family: 'Lobster', cursive; 
    font-weight: normal; 
    font-size: 3.5rem;     
    margin-top: 10vh; 
    border-radius: 3rem;
    padding: 2rem;
    }

h1 span{
    font-size: 3rem; color: seashell; 
}

h2 {
    background-color: #9bbfab; 
    border-radius: 3rem;
    padding: 1.5rem;
    font-size: 2rem;
}

p{
    font-size: 1.9rem;
}

p span{
    font-weight: bold;
  }

aside ul{
    margin-top: 5vh; 
    font-size: 1.3rem;
    padding: 0;
}

/*Foto Libro*/
#datos-libro {
    margin-top: 25vh; 
    padding: 2vw 2vw 2vw 2vw;    
   }

.flip-card {
    background-color: transparent;
    width: 100%;
    height: 100%;
     perspective: 1000px; 
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .flip-card-front {    
    color: black;
    z-index: 2;
  }

  .flip-card-front img {
    width: 80%;  
    margin-top: 1rem;
    margin-bottom: 1rem;
}
  
  .flip-card-back {   
    background-color:#9bbfab;    
    color: white;
    transform: rotateY(180deg);
    z-index: 1;
  }


aside ul li span{
    font-weight: bold;
}

#datos, #descripcion, #aside_derecha,#myVideoSection {
    float: left;      
  }

ul{
    list-style: none; 
    margin: 0;     
}
  
#datos {
   width: 20vw;
   padding: 2vw;
   }

aside ul {
    border-bottom: 1px dotted grey; 
    border-top: 1px dotted grey;
    }

aside ul li{
    margin-bottom: 5px;  
    text-transform: uppercase; 
    color: #333;
    }

aside ul li.precio{
    font-size: 3rem; 
    font-family: 'Lobster', cursive; 
    color: black;
}

#descripcion {
   width: 59vw;
   padding: 0 4vw 2vw 2vw;    
  }
/*Foto Gabo*/

#aside_derecha {
    width: 19vw;
    height: 100vh;
    border-radius: 1rem;
    margin-top: 2vw;   
   }  

#aside_derecha figure {
    width: 100%;    
}

#aside_derecha figure img{
    width: 100%;
    height: 100%;
    border-radius: 3rem;
    margin-bottom: 3rem;
}

#inf_prof{
    font-size: 1.2rem; 
}
/*Footer*/

footer{
    background-color: #333;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;
     }

footer summary,footer p{
    font-size: 1.5rem;
    color: seashell;
    }


